.div-header{
    display: flex;
    justify-content: center;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    /* background-color:blue; */
    /* width: 20%; */
    border-radius: 50px;
    padding: 10px;
}
.link{
    color: white;
    text-decoration: none;
    background-color:black;
    padding: 5px;
    border-radius: 5px;
    font-size: 25px;
     box-shadow: 0px 0px 40px 12px greenyellow;
}
.link:hover{
    background-color:greenyellow;
}